
<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Plant Disease Detection | Dashboard</title>

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.3/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body style="background-image: url('../static/img/orange.jpg'); background-position: center; background-repeat: none; color: black;">
        

        <div class="center">
            <legend class="text-center" style="margin-top:5%; color: black; font-family: cursive;"> Plant Leaf Disease Detection</legend>
            <form action="/process" class="" style="width:60%; margin-left:20%; margin-top:5%;" method="POST" enctype="multipart/form-data">
                <label for="">Select a picture</label>
                <div class="row">
                    <input class="btn  col-md-8" type="file" name="file" id="">
                    <input type="submit" class="col-md-3 btn btn-primary" value="Submit" style="float:right;">
                </div>
            </form>
            <legend style="width:60%;margin-left:20%;margin-right:20%;"></legend>

            <form action="" class="" style="width:60%; margin-left:20%;margin-right:20%; margin-top:3%;">
                <div class="row">
                    <div class="row col-md-3" style="width:30%;">
                        <label for="">Health Status Diagonized</label>
                    
                        <textarea name="" class="form-control" id="" cols="30" rows="10">{{value}}</textarea>
                    </div>

                    <div class="row col-md-7" style="margin-left:1%;width: 72%;">
                        <label for="">Recommendations:</label>
                    
                        <textarea name="" class="form-control" id="" cols="30" rows="10">{{reco}}</textarea>
                    </div>

                </div>
            </form>

        </div>




        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
